* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  cursor: url(../assets/hand.png), default;
  background-image: url('../assets/bg-3.png');
  background-size: cover;
  overflow: hidden;
}
@font-face {
  font-family: 'Patty Cake';
  src: url(../fonts/pattycake-regular-webfont.ttf);
}
/* ***
MAIN PAGE
*** */
.background-overlay {
  background-image: url('../assets/background_pages.png');
  background-position: 0 0 0 0;
  background-size: 150%, cover;
  overflow: scroll;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#folder-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-right: 3%;
}
#draggable {
  width: 22vw;
  margin: 30px;
  filter: drop-shadow(0 0 15px rgb(166, 77, 255, 0.25));
}
#droppable {
  width: 12vw;
  padding-bottom: 15px;
  margin: 30px;
  filter: blur(0px) drop-shadow(0 0 30px rgb(166, 77, 255, 0.5));
}
#droppable:hover {
  filter: blur(5px) drop-shadow(0 0 30px rgb(166, 77, 255, 0.5));
}
#arrow {
  position: relative;
  width: 12vw;
  top: -10vw;
  margin: 30px;
}
/* cursor */
a {
  cursor: url(../assets/hand.png), default;
}
/* ***
SECONDARY PAGE
*** */
main img{
  position: absolute;
  width: 270px;
  padding: 30px;
  filter: blur(0px) drop-shadow(10px 15px 4px rgba(72, 92, 47, 0.75));
}
main img:hover{
  mix-blend-mode: exclusion;
  filter: drop-shadow(10px 15px 4px rgba(183, 163, 208, 0.75));
}
.presentation{
  top: 0;
  left: 0;
}
figure{
  position: absolute;
  margin: 25px;
}
figure a{
  font-family: 'Patty Cake';
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}
figure a:hover{
  font-style: italic;
}
figcaption {
  display: block;
  position: relative;
  margin: -50px;
  z-index: 3;
}
h1{
  font-family: 'Times New Roman';
  font-weight: lighter;
  font-size: 2vw;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}

/*
PAGE HYPERLINK POSITIONING
*/
#tooltip {
  display: inline-block;
}
#tooltip img{
  width: auto;
  padding: 5px;
  z-index: 7;
}
/*
#tooltip #tooltipText {
  display: block;
  visibility: hidden;
  position: absolute;
  width: auto;
  margin-left: 4vw;
  margin-top: -20px;
  font-family: 'Times New';
  font-size: 1vw;
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.75));
  z-index: 6;
}*/
#tooltip #tooltipText {
  display: block;
  visibility: hidden;
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 40px; font-family: 'Times New';
  font-size: 1vw;
  background: #ffffffb9;
  border: 1px black solid;
  z-index: 6;
}
#tooltip:hover #tooltipText {
  visibility: visible;
}
/*
PAGE HYPERLINK POSITIONING
*/
.p1{ /*page 1*/
  top: 0;
  left: 0;
}
#sp1{
  top: 27%;
  left: 34%;
}
#sp2{
  top: 10%;
  left: 8%;
}
#fc1{
  left: 15%;
}
#fc2{
  left: 200px;
}
.p2{ /*page 2*/
  top: 0;
  right: -30%;
}
#sp3{
  top: 11%;
  right: 5%;
}
#sp4{
  top: 19%;
}
#sp5{
  top: 45%;
  right: -11%;
}
#sp6{
  top: 31%;
  right: 11%;
}
#fc4{
  left: 50px;
}
#fc5{
  bottom: 10px;
  left: 200px;
}
#fc6{
  right: 90px;
  top: 220px;
}
.p3{ /*page 3*/
  bottom: -55%;
  right: -30%;
}
#sp7{
  right: -20%;
}
#sp8{
  bottom: -14%;
  right: -10%;
}
#sp9{
  bottom: -25%;
  right: 13%;
}
#sp10{
  bottom: -0%;
  right: -23%;
}
#sp11{
  bottom: -30%;
  right: -45%;
}
#fc8{
  left: 50px;
  top: 160px;
}
.p4{ /*page 4*/
  bottom: -55%;
  left: 0;
}
#sp12{
  bottom: -16%;
  left: 15%;
}
#sp13{
  left: 40%;
}
#sp14{
  bottom: -9%;
  left: 41%;
}
#sp15{
  left: 5%;
}
#fc14{
  left: 250px;
  bottom: 5px;
}
#fc15{
  left: 20px;
}
