/************************ MAIN ************************/
.player-main {
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 5px;
  bottom: 0;
  left:0;
  background-color: #000000;
  overflow-y: hidden;
}

input[type="image"] {  
  width: 20px;
  margin: 7px;
  outline: none;
}

.player-main p {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 5px;
  align-items: center;
  text-align: center;
  text-decoration: none;

  font-family: 'MisterPixel', 'VG5000';
  color: #ccff33;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: lighter;

  -moz-animation: player-text 5s linear infinite alternate;
  -webkit-animation: player-text 5s linear infinite alternate;
  animation: player-text 5s linear infinite alternate;
}

.player-main #clock {
  font-family: 'VG5000', 'MisterPixel';
  font-size: 16px;
  color: #ccff33;
  right: 0;
  padding-right: 15px;
  z-index: 1;
}

@-moz-keyframes player-text {
  0% {
    -moz-transform: translateX(21%);
  }

  100% {
    -moz-transform: translateX(0%);
  }
}

@-webkit-keyframes player-text {
  0% {
    -webkit-transform: translateX(21%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes player-text {
  0% {
    -moz-transform: translateX(21%);
    -webkit-transform: translateX(21%);
    transform: translateX(21%);
  }

  100% {
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

/************************ EXTERNAL ************************/
.body-player {
  height: 100%;
  padding: 2px;
  margin: 0;
  text-align: center;
  overflow-y: hidden;
  background-color: #ffffff;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.body-player::-webkit-scrollbar {
  display: none;
  background: transparent;
  width: 0 !important
}

.external-player p {
  position: fixed;
  bottom: 0;
  width: 70%;
  padding: 5px;
  align-items: center;
  text-align: center;

  font-family: 'MisterPixel', 'VG5000';
  font-size: 16px;
  font-weight: lighter;
  color: blue;
  background-color: rgba(255, 255, 255, 0.856);
  text-decoration: none;
  text-transform: uppercase;

  -moz-animation: player-text 5s linear infinite alternate;
  -webkit-animation: player-text 5s linear infinite alternate;
  animation: player-text 5s linear infinite alternate;
}

.body-player img {
  margin: 20px;
}

.body-player #clock {
  opacity: 0;
}