@font-face {
    font-family: 'Lincoln/MITRE L/M 5x7';
    src: url('LincolnMITRE-LM5x7.woff2') format('woff2'),
        url('LincolnMITRE-LM5x7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

