<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>S</key>
	<dict>
		<key>public.kern2.v</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-30</integer>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
		<key>public.kern2.v</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.A.small</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-50</integer>
		<key>public.kern2.v</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.F</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.A.small</key>
		<integer>-50</integer>
		<key>public.kern2.J</key>
		<integer>-140</integer>
		<key>public.kern2.j</key>
		<integer>-40</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.H</key>
	<dict>
		<key>public.kern2.j</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>Y</key>
		<integer>-60</integer>
		<key>public.kern2.T</key>
		<integer>-70</integer>
		<key>public.kern2.V</key>
		<integer>-60</integer>
		<key>public.kern2.quotesingle.small</key>
		<integer>-90</integer>
		<key>public.kern2.v</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.P</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-50</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.o</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.A.small</key>
		<integer>-50</integer>
		<key>public.kern2.j</key>
		<integer>-60</integer>
		<key>public.kern2.o</key>
		<integer>-50</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
		<key>sterling</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.k</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.n</key>
	<dict>
		<key>public.kern2.j</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.o</key>
	<dict>
		<key>public.kern2.T</key>
		<integer>-70</integer>
		<key>public.kern2.Y</key>
		<integer>-50</integer>
		<key>public.kern2.j</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.period</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-50</integer>
		<key>public.kern2.v</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.quote</key>
	<dict>
		<key>public.kern2.n</key>
		<integer>-70</integer>
		<key>public.kern2.o</key>
		<integer>-150</integer>
		<key>public.kern2.u</key>
		<integer>-100</integer>
		<key>public.kern2.v</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.quotesingle.small</key>
	<dict>
		<key>public.kern2.A.small</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.r</key>
	<dict>
		<key>public.kern2.comma</key>
		<integer>-150</integer>
	</dict>
	<key>public.kern1.u</key>
	<dict>
		<key>public.kern2.Y</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.v</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-10</integer>
		<key>public.kern2.A.small</key>
		<integer>-60</integer>
		<key>public.kern2.comma</key>
		<integer>-90</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>public.kern2.o</key>
		<integer>-40</integer>
		<key>public.kern2.period</key>
		<integer>-50</integer>
	</dict>
</dict>
</plist>
