<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.small</key>
	<string>A_.small.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>AE.small</key>
	<string>A_E_.small.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Aacute.small</key>
	<string>A_acute.small.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Acircumflex.small</key>
	<string>A_circumflex.small.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Adieresis.small</key>
	<string>A_dieresis.small.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Agrave.small</key>
	<string>A_grave.small.glif</string>
	<key>Aring.small</key>
	<string>A_ring.small.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>Atilde.small</key>
	<string>A_tilde.small.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.small</key>
	<string>B_.small.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.small</key>
	<string>C_.small.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Ccedilla.small</key>
	<string>C_cedilla.small.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.small</key>
	<string>D_.small.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.small</key>
	<string>E_.small.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Eacute.small</key>
	<string>E_acute.small.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Ecircumflex.small</key>
	<string>E_circumflex.small.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edieresis.small</key>
	<string>E_dieresis.small.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Egrave.small</key>
	<string>E_grave.small.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.small</key>
	<string>F_.small.glif</string>
	<key>FI.small</key>
	<string>F_I_.small.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.small</key>
	<string>G_.small.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.small</key>
	<string>H_.small.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.small</key>
	<string>I_.small.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Iacute.small</key>
	<string>I_acute.small.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Icircumflex.small</key>
	<string>I_circumflex.small.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idieresis.small</key>
	<string>I_dieresis.small.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Igrave.small</key>
	<string>I_grave.small.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.small</key>
	<string>J_.small.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.small</key>
	<string>K_.small.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.small</key>
	<string>L_.small.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.small</key>
	<string>M_.small.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.small</key>
	<string>N_.small.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>Ntilde.small</key>
	<string>N_tilde.small.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.small</key>
	<string>O_.small.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>OE.small</key>
	<string>O_E_.small.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Oacute.small</key>
	<string>O_acute.small.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Ocircumflex.small</key>
	<string>O_circumflex.small.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ograve.small</key>
	<string>O_grave.small.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Oslash.small</key>
	<string>O_slash.small.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.small</key>
	<string>P_.small.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.small</key>
	<string>Q_.small.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.alt</key>
	<string>R_.alt.glif</string>
	<key>R.alt.small</key>
	<string>R_.alt.small.glif</string>
	<key>R.small</key>
	<string>R_.small.glif</string>
	<key>RT.small</key>
	<string>R_T_.small.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.small</key>
	<string>S_.small.glif</string>
	<key>ST.liga</key>
	<string>S_T_.liga.glif</string>
	<key>ST.small</key>
	<string>S_T_.small.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.small</key>
	<string>T_.small.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.small</key>
	<string>U_.small.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Uacute.small</key>
	<string>U_acute.small.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Ucircumflex.small</key>
	<string>U_circumflex.small.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Udieresis.small</key>
	<string>U_dieresis.small.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Ugrave.small</key>
	<string>U_grave.small.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.small</key>
	<string>V_.small.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.small</key>
	<string>W_.small.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.small</key>
	<string>Y_.small.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Yacute.small</key>
	<string>Y_acute.small.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ydieresis.small</key>
	<string>Y_dieresis.small.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.small</key>
	<string>Z_.small.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.alt</key>
	<string>a.alt.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.alt</key>
	<string>aacute.alt.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflex.alt</key>
	<string>acircumflex.alt.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.alt</key>
	<string>adieresis.alt.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ae.alt</key>
	<string>ae.alt.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>agrave.alt</key>
	<string>agrave.alt.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.small</key>
	<string>ampersand.small.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aring.alt</key>
	<string>aring.alt.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>atilde.alt</key>
	<string>atilde.alt.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.osf</key>
	<string>eight.osf.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi.liga</key>
	<string>fi.liga.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.osf</key>
	<string>five.osf.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.osf</key>
	<string>four.osf.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.osf</key>
	<string>nine.osf.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.osf</key>
	<string>one.osf.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>quotesingle.small</key>
	<string>quotesingle.small.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>rt.liga</key>
	<string>rt.liga.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.osf</key>
	<string>seven.osf.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.osf</key>
	<string>six.osf.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>st.liga</key>
	<string>st.liga.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.osf</key>
	<string>three.osf.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.osf</key>
	<string>two.osf.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>vtf</key>
	<string>vtf.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.osf</key>
	<string>zero.osf.glif</string>
</dict>
</plist>
