@font-face {
  font-family: 'CP437';
  src: url(fonts/cp437-thin_8x16.woff);
}
html {
    width: auto;
    height: auto;
    background-image: url('../assets/images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
  }
  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    z-index: 1;
  }
  /* background for garden */
  #gardenBody{
    background-image: url('../assets/images/background_g.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
  }
  .header{
    z-index: 7;
  }
  .loadingIcon{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /**** PAGE LAYOUT *****/
  #indexPage, #housePage, #infoPage{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100vw;
    height: 100vh;
  }
  /***** HEADER CONTAINING BUTTONS *****/
  #arrowLeft{
    position: absolute; 
    padding: 30px;
    left: 0;
    z-index: 5;
  }
  #arrowRight, #cutIcon{
    position: absolute; 
    padding: 30px;
    right: 0;
    z-index: 5;
  }
  .arrows:hover{
    filter:drop-shadow(5px 5px 10px #282f5e);
    z-index: 5;
  }
   /***** GREENHOUSE and/or GARDEN BUTTONS *****/
  #infoIcon, #cutIcon {
    position: absolute; 
    padding: 30px;
    right: 80px;
    z-index: 4;
  }
  #infoIcon:hover{
    filter:drop-shadow(5px 5px 10px #282f5e);
    z-index: 4;
  }
  #cutIcon:hover{
    filter:drop-shadow(5px 5px 10px #282f5e);
    z-index: 4;
  }
  #gardenIcon {
    position: absolute; 
    padding: 30px;
    right: 160px;
    z-index: 4;
  }
  #gardenIcon:hover{
    filter: invert(100%);
    z-index: 4;
  }
  #houseIcon {
    position: absolute; 
    padding: 30px;
    padding-top: 25px;
    right: 160px;
    z-index: 4;
  }
  #houseIcon:hover{
    filter: invert(100%);
    z-index: 4;
  }
  /* tooltip that appears on Icon hover */
  .ui-tooltip {
    position: absolute;
    display: inline;
    content: "";
    min-width: 150px;
    max-height: 20px;
    padding: 10px;
    padding-left: 15px;
    background-color: #fff0c8;
    color: #000000;
    border: 1px solid black;
    text-decoration-line: none;
    box-shadow: none;
    border-radius: 0%;
    z-index: 7;
}
  .ui-helper-hidden-accessible{
    visibility: hidden;
}
  /***** INDEX *****/
  #flowerField{
    position: absolute; 
    width: 42vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 5vh;
    z-index: 0;
  }
  #flowerField:hover{
    filter:drop-shadow(30px 30px 20px #d4d9fa);
    z-index: 5;
  }
  .pillars{
    position: absolute; 
    width: 13%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 2;
  }
  #pillarLeft{
    margin-left: 18vw;
    bottom: 5vh;
  }
  #pillarRight{
    margin-right: 18vw;
    bottom: 5vh;
  }
  .walls{
    position: absolute; 
    width: 25%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 1;
  }
  #wallLeft{
    margin-left: 0vw;
    bottom: 6vh;
  }
  #wallRight{
    margin-right: 0vw;
    bottom: 6vh;
  }
  /***** GREENHOUSE *****/
  #modal {
    display: none;
    position: absolute;
    width: 350px;
    height: 290px;
    right: 0;
    margin: 15px;
    background-color: #deeaf0 /*#fff0c8*/;
    color: #002538;
    border: 1px solid #002538;
    text-align: center;
    margin-right: 20vw;
    margin-top: 5vw;
    box-shadow: 5px 5px 40px #0000007a;
    z-index: 5;
  }
  #modal p{
    /*font-family: 'CP437';*/
    width: 250px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    line-height: 1.25em;
  } 
  #shed{
    position: absolute;
    display: none;
    width: 45%;
    padding: 2vw;
    bottom: 8vh;
    left: 10vw;
    z-index: 3;
  }
  #shed:hover{
    opacity: 0.5;
  }
  #imgDropped{
    display: none;
    position: absolute;
    width: 20vh;
    height: 20vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
  #upload-arrow{
    position: absolute;
    margin-left: 50vw;
    margin-top: 5vw;
    z-index: 4;
  }
  .close{
    display: grid;
    position: relative;
    justify-content: left;
    padding-top: 10px;
    padding-left: 10px;
    top: 0;
    right: 0;
  }
  .close:hover{
    cursor: pointer;
  }
  /***** INFO PAGE *****/
  #infoBox{
    position: absolute; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 10px;
    width: 50%;
    left: 20vw; ; 
    right: 0; 
    bottom: 50vh;
    z-index: 1;
  }
  #infoBox p{
    display: flex;
    justify-content: center;
  }
    /* P5 CANVAS */
  #p5Canvas{
    margin-top: 15vh;
  }
  #canvasContainer{
  }